

:root {
  --foreground-rgb: 235, 235, 235;
  --background: 235, 235, 235;
  --border: 15, 222, 141;
  --background: 31, 30, 47;
  --color-primary: 115,65,255;
  --color-terciary: 255, 156, 40;
  --color-terciary-30: 255, 156, 40, 0.3;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  overflow: hidden;
}

*{
  background: transparent;
}

::-webkit-scrollbar {
  width: 0px;
}
/* ::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
  background-color: transparent;
} */

/* Track (faixa) da barra de rolagem */
/* ::-webkit-scrollbar-track {
  background: rgba(var(--color-terciary-30));
  padding-top: 10px;
  border-radius: 8px;
} */

/* Alça (thumb) da barra de rolagem */
/* ::-webkit-scrollbar-thumb {
  background: rgb(var(--color-terciary));
  border-radius: 5px;
} */




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
